<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./favicon.png">
    <meta name="theme-color" content="#5C4B99"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Mary's simple recipe for maple bacon donuts
           makes a sticky, sweet treat with just a hint
           of salt that you'll keep coming back for.">
    <link rel="manifest" href="./app.webmanifest">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
<div id="skip" tabindex="-1">
    <a href="#maincontent" class="skip-link">Skip To Content</a>
</div>
<header>
    <nav>
        <div class="container">
            <label>BAMBAROO</label>
            <div class="menu-toggle">
                <button tabindex="0" id="menu">Menu</button>
            </div>
            <div class="navbar">
                <a href="/#/">Home</a>
                <a href="/#/favorite">Favorite</a>
                <a href="https://www.github.com/BAMBAROO" target="_blank">About Us</a>
            </div>
        </div>
    </nav>
</header>
<main id="core">
</main>
<footer id="about">
    <p tabindex="0">Copyright © 2023 - BAMBAROO Apps</p>
</footer>
</body>
</html>